default:
  suites:
    default:
      paths: [ 'tests/behat' ]
      contexts: [ 'behat_progress_bar' ]
  extensions:
    Behat\MinkExtension:
      base_url: 'http://localhost/moodle'
    Moodle\BehatExtension:
      moodledirroot: 'C:/xampp/htdocs/moodle'
      steps_definitions: [ 'tests/behat' ]
